# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Streamlit Secrets - VERY IMPORTANT
.streamlit/secrets.toml

# Generated data and user uploads
generated_reports/
uploads/

# Database file
aarogyam.db